/* Adminacademic.css */

.adminaca {
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
  }
  
  .academic-heading {
    color: rgb(25, 105, 33);
    text-align: center;
    padding-top:2%;
    font-family: 'Satisfy',cursive;
  }
  
  .form-modal {
    position: fixed;
    top: 60%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Unique styles for each form type */
  }
  .upad{
      background-color:beige;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: rgb(0, 1, 0);
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      height:70px;
      width: 150px;
      margin-top:4%;
      margin-left:17%;
      font-size: 20px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    
    

      
  }
  .upup{
    background-color:beige;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(0, 1, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    height:70px;
    width: 150px;
    margin-top:4%;
    margin-left:18%;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
  
  }
  .upde{
    background-color:beige;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(0, 1, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    height:70px;
    width: 150px;
    margin-top:4%;
    margin-left:17%;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
  
  }
  
  .formbu{
    background-color:beige;
    
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(0, 1, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    
    height:40px;
    width: 80px;
    margin-top:4%;
    margin-left:17%;
    font-size: 20px;
    
  
    /* Add specific styles for 'Add' form */
  }
  
  .form-modal.update {
    /* Add specific styles for 'Update' form */
  }
  
  .form-modal.delete {
    /* Add specific styles for 'Delete' form */
  }
  